<link rel="stylesheet" href="@Url.Content("~/css/bootstrap.css")">

<h1>Index</h1>

<a asp-controller="Home" asp-action="Index">Home</a>

<span asp-message-value="Help!" asp-level-value="2" />
<span><h1>Help!</h1></span>

<div class="panel">
    <div class="panel-header">
        <p>header...</p>
    </div>
    <div class="panel-body">
        <p>body...</p>
    </div>
    <div class="panel-footer">
        <p>footer...</p>
    </div>
</div>

<panel>
    <panel-header>
        <p>header...</p>
    </panel-header>
    <panel-body>
        <p>body...</p>
    </panel-body>
    <panel-footer>
        <p>footer...</p>
    </panel-footer>
</panel>
